[submodule "themes/cuisine-book"]
	path = themes/cuisine-book
	url = https://github.com/ntk148v/hugo-cuisine-book
[submodule "themes/recipe-book"]
	path = themes/recipe-book
	url = https://github.com/rametta/recipe-book.git
